header.header#myHeader
  .wrapper
    .header__content
      .header__logo
    a(href="https://wa.me/79219580826?text=Хочу%20заказать%20цифровую%20печать").header__whatsup
      .header__whatsup-content
        p Остались вопросы?
        p Пиши нам в What's App!
      //- img(src="images/dest/icons/whatsup.svg" alt="logo whatsup")
      //- .icon
      //-   //- include ../../images/dest/icons/whatsup.svg
      +icon('whatsup', 'header__whatsup')
      +icon('whatsup-hover', 'header__whatsup-hover', 'header__whatsup')
    .header__contacts
      .header__phone
        a(href="#") 330 - 03 - 04
      .header__email
        a(href="#") reprint.spb@gmail.com
      .header__address
        a(href="#") г.Санкт-Петербург, Шоссе Революции, 31
    
