header.header#myHeader
  .wrapper
    .header__content
      .header__logo
    .header__whatsup
      .header__whatsup-content
        p Остались вопросы?
        p Пиши нам!
      a(href="https://wa.me/79219580826?text=Хочу%20заказать%20цифровую%20печать" data-social="wa")
      a(href="https://t.me/+79219580826" data-social="tg")
    .header__contacts
      .header__phone
        a(href="#") 330 - 03 - 04
      .header__email
        a(href="#") reprint.spb@gmail.com
      .header__address
        a(href="#") г.Санкт-Петербург, Шоссе Революции, 31
    
