header.header
  .wrapper
    .header__content
      p Типография
      p Быстро
      p Дешево
      p Зае**сь
    a(href="tel:81234567890").header__whatsup
      p Напиши нам в What's App
      p Ответим быстро
      img(src="images/dest/whatsup.webp" alt="logo whatsup")
    .header__phone
      a(href="tel:81234567890") 8(123) 456-78-90
      a(href="mailto:reprint.spb@gmail.com") reprint.spb@gmail.com
    
