.benefits
  position: relative
  .bg
    width: 100vw
    height: 100%
    position: absolute
    top: 0
    left: 0
    .benefits-tr
      position: absolute
      top: -11%
      right: calc(-55 / 320) * 100vw
      width: calc(106 / 320) * 100vw
      height: calc(185 / 320) * 100vw
      img
        &:last-child
          width: calc(42 / 320) * 100vw
          height: calc(16 / 320) * 100vw
          position: absolute
          top: calc(64 / 320) * 100vw
          left: calc(-11 / 320) * 100vw
  .wrapper
    position: relative
  &__title
  &__items
    margin: calc(45 / 320) * 100vw auto calc(86 / 320) * 100vw
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    align-content: space-between
    align-items: stretch
    gap: calc(30 / 320) * 100vw
    position: relative
  &__item
    position: relative
    z-index: 100
    max-width: calc(205 / 320) * 100vw
    padding-left: calc(37 / 320) * 100vw
    &:nth-child(1)
      &:before
        content: ''
        background-image: url('../images/dest/icons/benefits-item-1.svg')
        background-size: 100%
        background-repeat: no-repeat
        position: absolute
        width: calc(42 / 320) * 100vw
        height: calc(67 / 320) * 100vw
        top: 50%
        right: calc(-23 / 320) * 100vw
        transform: translate(100%, 0)
      .benefits__item-abs
        &:before
          background-color: $cyan
    &:nth-child(2)
      margin-left: calc(73 / 320) * 100vw
      &:before
        content: ''
        background-image: url('../images/dest/icons/benefits-item-2.svg')
        background-size: 100%
        background-repeat: no-repeat
        position: absolute
        width: calc(98 / 320) * 100vw
        height: calc(79 / 320) * 100vw
        top: 75%
        left: -15%
      .benefits__item-abs
        &:before
          background-color: $magenta
    &:nth-child(3)
      margin-left: calc(148 / 320) * 100vw
      &:before
        content: ''
        background-image: url('../images/dest/icons/benefits-item-3.svg')
        background-size: 100%
        background-repeat: no-repeat
        position: absolute
        width: calc(98 / 320) * 100vw
        height: calc(33 / 320) * 100vw
        bottom: calc(-60 / 320) * 100vw
        left: calc(-32 / 320) * 100vw
      .benefits__item-abs
        &:before
          background-color: $yellow
    &-abs
      display: block
      position: absolute
      left: 0%
      top: 0
      font-size: calc(22 / 320) * 100vw
      line-height: 100%
      font-weight: bold
      &:before
        content: ''
        background-color: $magenta
        width: calc(2.5 / 320) * 100vw
        height: calc(30 / 320) * 100vw
        transform: rotate(-20deg)
        position: absolute
        right: calc(-7 / 320) * 100vw
        bottom: calc(6 / 320) * 100vw
    &-title
      text-transform: none
    &-descr
      margin: auto
      margin-top: calc(10 / 320) * 100vw
  &__btn
    position: relative
    transform-style: preserve-3d
    z-index: 1
    &:before
      content: ''
      background-image: url('../images/dest/icons/benefits-btn-bg.svg')
      background-size: 100%
      background-repeat: no-repeat
      position: absolute
      top: -300%
      left: 44%
      transform: translate(-50%, 0) translateZ(-1px)
      width: calc(219 / 320) * 100vw
      height: calc(190 / 320) * 100vw
      z-index: 0


  @include media-laptop
    .wrapper
      align-items: stretch
    .bg
      .benefits-tr
        right: calc(-215 / 1920) * 100vw
        width: calc(445 / 1920) * 100vw
        height: calc(778 / 1920) * 100vw
        img
          &:last-child
            position: absolute
            top: calc(300 / 1920) * 100vw
            left: calc(-25 / 1920) * 100vw
            width: calc(135 / 1920) * 100vw
            height: calc(50 / 1920) * 100vw
    &__items
      width: 100%
      align-items: stretch
      gap: calc(70 / 1920) * 100vw
      margin: calc(135 / 1920) * 100vw auto calc(90 / 1920) * 100vw
    &__item
      max-width: calc(643 / 1920) * 100vw
      padding-left: calc(101 / 1920) * 100vw
      &-abs
        font-size: calc(60 / 1920) * 100vw
        &:before
          width: calc(7 / 1920) * 100vw
          height: calc(100 / 1920) * 100vw
          right: calc(-35 / 1920) * 100vw
          bottom: calc(-35 / 1920) * 100vw
      &-descr
        margin-top: calc(20 / 1920) * 100vw
      &:nth-child(1)
        margin-left: calc(168 / 1920) * 100vw
        &:before
          width: calc(126 / 1920) * 100vw
          height: calc(202 / 1920) * 100vw
          top: 10%
          right: calc(-20 / 1920) * 100vw
      &:nth-child(2)
        margin-left: calc(450 / 1920) * 100vw
        &:before
          width: calc(293 / 1920) * 100vw
          height: calc(236 / 1920) * 100vw
          left: -20%
      &:nth-child(3)
        margin-left: calc(727 / 1920) * 100vw
        max-width: calc(430 / 1920) * 100vw
        &:before
          width: calc(242 / 1920) * 100vw
          height: calc(67 / 1920) * 100vw
          bottom: 0
          right: 0
          left: auto
          transform: translate(100%, 100%) rotateY(180deg)
    &__btn
      margin-right: 0px
      &:before
        width: calc(502 / 1920) * 100vw
        height: calc(437 /  1920) * 100vw
        top: -250%
