.contacts
  padding-bottom: 0
  .wrapper
    display: grid
  &__map
    order: 2
  &__content
    order: 1
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    gap: calc(35 / 320) * 100vw
    padding-bottom: calc(60 / 320) * 100vw
  &__title
  &__items
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: stretch
    gap: calc(10 / 320) * 100vw
  &__link
    font-size: calc(9 / 320) * 100vw
    line-height: calc(9 / 320) * 100vw
    font-weight: 300
  &__btn
    margin-top: calc(50 / 320) * 100vw
    margin-right: 0
    position: relative
    z-index: 100
    transform-style: preserve-3d
    &:before
      content: ''
      background-image: url('../images/dest/icons/contacts-btn-bg.svg')
      background-size: 100%
      background-repeat: no-repeat
      position: absolute
      top: calc(-360 / 320) * 100vw
      left: 50%
      transform: translate(-50%, 0) translateZ(-1px)
      width: calc(209 / 320) * 100vw
      height: calc(190 / 320) * 100vw
    &:after
      content: ''
      background-image: url('../images/dest/icons/banner-btn-arr.svg')
      background-size: 100%
      background-repeat: no-repeat
      position: absolute
      top: calc(34 / 320) * 100vw
      left: 50%
      transform: translate(-50%, 100%) translateZ(-1px)
      width: calc(98 / 320) * 100vw
      height: calc(33 / 320) * 100vw


  @include media-laptop
    .wrapper
      width: 100vw
      grid-template-columns: 50% 50%
      gap: 0 32px
    &__items
      gap: calc(20 / 1920) * 100vw
    &__map
      order: 1
      min-height: calc(683 / 1920) *100vw
      iframe
        width: 100%
        height: 100%
        min-height: calc(683 / 1920) *100vw
    &__content
      order: 2
      gap: 100px
      padding-bottom: 0
    &__link
      font-size: 27px
      line-height: 32.4px
      font-weight: 300
    &__btn
      margin-right: calc(135 / 1920)*100vw
      margin-top: 45px
      &:before
        top: calc(-260 / 1920) * 100vw
        left: 50%
        transform: translate(-50%, 0) translateZ(-1px)
        width: calc(776 / 1920) * 100vw
        height: calc(705 / 1920) * 100vw
      &:after
        top: calc(-109 / 1920) * 100vw
        left: 33px
        transform:  translateZ(-1px) rotateX(180deg)
        width: calc(242 / 1920) * 100vw
        height: calc(67 / 1920) * 100vw
