.contacts
  padding-bottom: 0
  .wrapper
    display: grid
    position: relative
    z-index: 100
    grid-template-columns: 1fr
  &__title
    position: relative
    &:before
      content: ''
      background-image: url('../images/dest/icons/services-worm.svg')
      background-size: contain
      background-repeat: no-repeat
      position: absolute
      width: calc(8 / 320) * 100vw
      height: calc(93 / 320) * 100vw
      bottom: 0
      left: 0%
      transform: rotate(90deg) translate(710%, -46%)
  &__map
    order: 2
    min-height: 83vw
    iframe
      min-height: 83vw
  &__content
    order: 1
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    gap: calc(35 / 320) * 100vw
    padding-bottom: calc(60 / 320) * 100vw
  &__title
  &__items
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: stretch
    gap: calc(10 / 320) * 100vw
  &__link
    font-size: calc(9 / 320) * 100vw
    line-height: calc(9 / 320) * 100vw
    font-weight: 300
  &__btn
    margin-top: calc(50 / 320) * 100vw
    margin-right: 0
    position: relative
    z-index: 100
    transform-style: preserve-3d
    &:before
      content: ''
      background-image: url('../images/dest/icons/contacts-btn-bg.svg')
      background-size: 100%
      background-repeat: no-repeat
      position: absolute
      top: calc(-75 / 320) * 100vw
      left: 50%
      transform: translate(-50%, 0) translateZ(-1px)
      width: calc(209 / 320) * 100vw
      height: calc(190 / 320) * 100vw
    &:after
      content: ''
      background-image: url('../images/dest/icons/banner-btn-arr.svg')
      background-size: 100%
      background-repeat: no-repeat
      position: absolute
      top: calc(34 / 320) * 100vw
      left: 50%
      transform: translate(-100%, -250%) rotateX(180deg) translateZ(-1px)
      width: calc(98 / 320) * 100vw
      height: calc(33 / 320) * 100vw


  @include media-laptop
    padding: 0
    .wrapper
      width: 100vw
      grid-template-columns: 50% 50%
      gap: 0 calc(32 / 1920) * 100vw
    &__title
      &:before
        content: ''
        background-image: url('../images/dest/icons/services-worm.svg')
        background-size: contain
        background-repeat: no-repeat
        position: absolute
        width: calc(8 / 320) * 100vw
        height: calc(93 / 320) * 100vw
        bottom: 0
        left: 0%
        transform: rotate(90deg) translate(169px, -46%)
        height: calc(245 / 1920) * 100vw
        width: calc(21 / 1920) * 100vw
    &__items
      gap: calc(20 / 1920) * 100vw
    &__map
      order: 1
      min-height: calc(683 / 1920) *100vw
      iframe
        width: 100%
        height: 100%
        min-height: calc(683 / 1920) *100vw
    &__content
      order: 2
      gap: 100px
      padding-bottom: 0
      align-self: flex-start
    &__link
      font-size: calc(27 / 1920) * 100vw
      line-height: calc(27 / 1920) * 100vw
      font-weight: 300
    &__btn
      margin-right: calc(135 / 1920)*100vw
      margin-top: calc(45 / 1920) * 100vw
      &:before
        top: calc(-260 / 1920) * 100vw
        left: 50%
        transform: translate(-50%, 0) translateZ(-1px)
        width: calc(776 / 1920) * 100vw
        height: calc(705 / 1920) * 100vw
      &:after
        top: calc(-109 / 1920) * 100vw
        left: calc(33 / 1920) * 100vw
        transform:  translateZ(-1px) rotateX(180deg)
        width: calc(242 / 1920) * 100vw
        height: calc(67 / 1920) * 100vw
