.contacts
  padding: 100px 0 0
  .wrapper
    width: 100%
    display: grid
    grid-template-columns: auto 650px
  &__map
  &__content
    padding: 130px 50px
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    gap: 30px
  &__title
    font-size: 32px
    font-weight: 800
  &__items
    font-size: 27px
    font-weight: 300
    line-height: 120%
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: stretch
    gap: 15px
