.faq
  padding: 100px 0
  .wrapper
  &__title
    margin: 0 auto
    text-align: center
    font-size: 42px
    font-weight: 800
    line-height: 120%
    margin-bottom: 40px
  &__items
    margin-top: 20px
    display: grid
    grid-template-rows: repeat(3, auto)
    gap: 20px
  &__item
    padding: 30px 40px
    width: 75%
    margin: 0 auto
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: stretch
    gap: 30px
    border: 1px solid blue
    border-radius: 15px
  &__q
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    // gap: 40px
    .faq__content
      font-weight: 800
  &__a
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: flex-start
    // gap: 40px
  &__nick
    font-size: 16px
    font-weight: 300
    min-width: 150px
    color: rgba(0, 0, 0, .7)
  &__content
    font-size: 16px
    font-weight: 300
