.services
  position: relative
  .bg
    width: 100vw
    height: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 10
    .services-l
      position: absolute
      top: -25px
      left: 0
    .services-b
      position: absolute
      bottom: -15px
      left: 5%
  .wrapper
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    z-index: 100
  &__title
  &__items
    margin-top: calc(46 / 320) * 100vw
    display: grid
    grid-template-columns: calc(130 / 320) * 100vw calc(130 / 320) * 100vw
    gap: calc(50 / 320) * 100vw calc(20 / 320) * 100vw
    position: relative
    &:after,
    &:before
      content: ''
      background-image: url('../images/dest/icons/services-worm.svg')
      background-size: cover
      background-repeat: no-repeat
      position: absolute
      width: 8px
      height: 93px
      top: 15%
      left: 50%
      transform: translate(-50%, -50%)
    &:before
      bottom: 14px
      top: auto
      transform: translate(-50%, 0)
  &__item
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    &-ico
      display: none
    &-title
    &-descr
      text-align: center
      margin-top: calc(10 / 320) * 100vw
  &__printer
    margin: 0 auto
    display: block
    margin-top: calc(40 / 320) * 100vw
    position: relative
    z-index: 10


  @include media-laptop
    &__items
      grid-template-columns: repeat(3, 13vw)
      width: auto
      gap: 90px 170px
      margin: 0 auto
