.sliders
  display: -webkit-flex
  display: -ms-flex
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  button
    min-width: 0px !important
  .slider
    &-for
      width: calc(250 / 320) *100vw
      margin-bottom: calc(24 / 320) *100vw
      picture
        display: block
        max-width: calc(250 / 320) *100vw
        max-height: calc(186 / 320) *100vw
        margin: 0 auto
        img
          width: auto
          max-height: calc(186 / 320) *100vw
          margin: 0 auto
    &-nav
      width: calc(250 / 320) *100vw
      // .slick-current
        margin: 0 calc(14 / 320) * 100vw
        // min-width: calc(75 / 320) *100vw
      picture
        display: block
        // width: auto
        // max-width: calc(75 / 320) *100vw
        margin: 0 auto
        height: calc(50 / 320) * 100vw
        img
          // width: 100%
          max-height: calc(50 / 320) * 100vw
          margin: 0 auto
      .slick
        &-slide
          // width: auto !important
        &-current
          picture
            img
              border: 2px solid $magenta





  @include media-custom(600px)
    .slider
      &-nav
        .slick-track
          transform: none !important





  @include media-tablet
    .slider
      &-for
        width: calc(1636 / 1920) *100vw
        margin: 0 auto
        margin-bottom: 5vw
        img
          max-width: calc(1365 / 1920) *100vw
          max-height: calc(910 / 1920) *100vw
      &-nav
        width: calc(1636 / 1920) *100vw
        margin: 0 auto
        // gap: calc(28 / 1920) *100vw
        img
          width: calc(200 / 1920) *100vw
          margin: 0 calc(20 / 1920) *100vw
        .slick-slide
          img
            max-width: calc(240 / 1920) *100vw
            max-height: calc(160 / 1920) *100vw
          .slick-current
            img
              border: 2px solid $magenta

.slick
  &-slide
    img
      border: 2px solid $yellow
  &-arrow
    &:before
      display: block
      width: calc(36 / 1920) *100vw
      height: calc(22 / 1920) *100vw
      position: absolute
      transform: translate(-50%, -50%)
      top: 50%
      left: 50%
  &-prev
    &:before
      content: ''
      background-image: url('../images/dest/icons/slider-arrow-prev.svg')
      background-size: cover
      background-repeat: no-repeat
      background-position: 0 0
  &-next
    &:before
      content: ''
      background-image: url('../images/dest/icons/slider-arrow-next.svg')
      background-size: cover
      background-repeat: no-repeat
      background-position: 0 0
  &-dots
    width: calc(70 / 320) *100vw
    left: 50%
    transform: translate(-50%)
    bottom: -2vw
    li
      width: calc(5 / 320) *100vw
      height: calc(5 / 320) *100vw
      margin: 0 calc(2.5 / 320) *100vw
      button
        width: 100%
        height: 100%
        padding: 0
        margin: 0
        background-color: #fff
        border: 1px solid $magenta
        &:before
          display: none
      &.slick-active
        button
          background-color: $magenta






  @include media-tablet
    &-arrow
      width: calc(74 / 1920) *100vw
      height: calc(74 / 1920) *100vw
      background-color: $yellow
      z-index: 1
      &:before
        color: $magenta
        font-family: none
    // &-current
    //   img
    //     border: 2px solid $magenta
