.sliders
  button
    min-width: 0px !important
  .slider
    &-for
      width: calc(1636 / 1920) *100vw
      margin: 0 auto
      margin-bottom: 5vw
      img
        margin: 0 auto
        max-width: calc(1365 / 1920) *100vw
        max-height: calc(910 / 1920) *100vw
    &-nav
      width: calc(1636 / 1920) *100vw
      margin: 0 auto
      display: -webkit-flex
      display: -ms-flex
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      gap: calc(28 / 1920) *100vw
      img
        margin: 0 auto
        width: calc(200 / 1920) *100vw
        margin: 0 calc(20 / 1920) *100vw
      div
        div
          div
            img
              border: 2px solid $yellow
              max-width: calc(240 / 1920) *100vw
              max-height: calc(160 / 1920) *100vw
            &.slick-active
              img
                border: 2px solid $magenta

.slick
  &-arrow
    width: 84px
    height: 84px
    background-color: $yellow
    &:before
      color: $magenta
