section.banner
  .bg
    .banner-tl
      //- +icon('banner-tl')
      image(src="images/dest/icons/banner-tl.svg")
    .banner-tr
      image(src="images/dest/icons/banner-tr.svg")
      image(src="images/dest/icons/dots.svg")
    .banner-ring
      image(src="images/dest/icons/banner-ring.svg")
  .wrapper
    h1.banner__title Цифровая печать
      p.banner__list.banner__abs от 1 часа
    .banner__subtitle 
      h2 100 листовок А5
      span 800 ₽
    p.banner__descr печатаем на бумаге, картоне 
      br
      |и самоклеющихся материалах
    button.banner__btn(type="button" onclick="location.href='https://wa.me/79219580826?text=Хочу%20заказать%20цифровую%20печать';") Закажи сейчас через вотсап
  
