section.banner
  .wrapper
    h1.banner__title Цифровая 
      span печать
      p.banner__list.banner__abs Срок от 1 часа
    h2.banner__subtitle 
      span 100
      | листовок
      span А5 
      |от 
      span 800 ₽
    h2.banner__descr печатаем на бумаге, картоне 
      br 
      |и самоклеющихся материалах
    .banner__worm.banner__abs
      img(src="images/dest/banner-abs-worm.png")
    .banner__dots.banner__abs
      img(src="images/dest/banner-abs-dots.png")
    button.banner__btn(type="button" href="https://wa.me/79675926651?text=Хочу%20заказать%20цифровую%20печать") Закажи сейчас через вотсап
  
