section.benefits
  .wrapper
    h2.benefits__title Как мы работаем?
    .benefits__items
      .benefits__item
        .benefits__item-title Сообщаете о проблеме
        .benefits__item-descr Звоните в наш центр, описываете вашу проблему, в тот же день наш мастер приезжает к вам.
      .benefits__item
        .benefits__item-title Бесплатная диагностика
        .benefits__item-descr Бумага и размер на Ваш выбор, с выбором поможем.
      .benefits__item
        .benefits__item-title Наклейки
        .benefits__item-descr Бумажная и полимерная самоклейка, порежем в любой размер и форму
