section.benefits
  .bg
    .benefits-tr
      image(src="images/dest/icons/benefits-tr.svg")
      image(src="images/dest/icons/dots.svg")
  .wrapper
    .benefits__title.section__title
      h3 Как мы работаем
      span ?
    .benefits__items
      .benefits__item
        span.benefits__item-abs 1
        h4.benefits__item-title Передаешь информацию по заказу
        p.benefits__item-descr Указываешь материал, размер, количество, с одной или с двух сторон печать. И прикрепляешь файл для печати. Мы сами его проверим!
      .benefits__item
        .benefits__item-abs 2
        h4.benefits__item-title Мы рассчитываем
        p.benefits__item-descr Ты оплачиваешь
      .benefits__item
        .benefits__item-abs 3
        h4.benefits__item-title Готово!
        p.benefits__item-descr Забираешь готовый заказ на нашем производстве.
    button.benefits__cta.benefits__btn(type="button" onclick="location.href='https://wa.me/79219580826?text=Хочу%20заказать%20цифровую%20печать';") Заказывай
