section.benefits
  .wrapper
    h2.benefits__title Как мы работаем?
    .benefits__items
      .benefits__item
        .benefits__item-title Передаете информацию по заказу
        .benefits__item-descr Указываете материал, размер, количество, с одной или с двух сторон печать? Прикрепляете файл для печати, мы его проверяем.
      .benefits__item
        .benefits__item-title Мы рассчитываем, Вы оплачиваете
        .benefits__item-descr Бумага и размер на Ваш выбор, с выбором поможем.
      .benefits__item
        .benefits__item-title Спасибо.
        .benefits__item-descr Забираете готовый заказ на нашем производстве.
