section.contacts
  .wrapper
    .contacts__map
      iframe(src='https://yandex.ru/map-widget/v1/?um=constructor%3A983d3ef20782be9285240e166c0ddb5409ba4632f9c6ba87685d28722b00e109&amp;source=constructor' width='100%' height='100%' frameborder='0')
    .contacts__content
      .contacts__title Контакты:
      .contacts__items
        a.contacts__addres(href="#") г.Санкт-Петербург, Шоссе Революции, 31 
        a.contacts__phone(href="tel:9580826") 958-08-26
        a.contacts__email(href="mailto: reprint.spb@gmail.com")  reprint.spb@gmail.com
      .contacts__links
        img(src="images/dest/caontacts-test.png")
