section.contacts
  .wrapper
    .contacts__map
      iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7989.57711836622!2d30.427498!3d59.958783!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xce007f9f3b6ae87a!2z0KLQuNC_0L7Qs9GA0LDRhNC40Y8gUmVQcmludA!5e0!3m2!1sru!2sru!4v1673364814051!5m2!1sru!2sru' width='100%' height='100%' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')
    .contacts__content
      .contacts__title Контакты:
      .contacts__items
        a.contacts__addres(href="#") г.Санкт-Петербург, Шоссе Революции, 31 
        a.contacts__phone(href="tel:9580826") 958-08-26
        a.contacts__email(href="mailto: reprint.spb@gmail.com")  reprint.spb@gmail.com
      .contacts__links
        img(src="images/dest/caontacts-test.png")
