section.delivery
  .wrapper
    .section__title
      h3 Доставка
      span(data-color="yellow") ?
    .delivery__items
      .delivery__item
        .delivery__title По городу
        .delivery__subtitle отправим Яндекс курьером
      .delivery__item
        .delivery__title По России
        .delivery__subtitle отправим транспортной компанией
