section.equipment
  .bg
    .equipment_lb
      image(src="images/dest/icons/faq-lb.svg")
      image(src="images/dest/icons/dots.svg")
  .wrapper
    .equipment__title.section__title
      h3 Наше оборудование
      span(data-color="cyan") ?
    .equipment__content
      .equipment__subtitle Xerox versant 180
      .equipment__text со встроенным спектрофотометром, контролирующий цвет печатного оттиска. 
    .equipment__printer
      span.equipment__printer-abs В общем, зверь, а не машина!
      img.equipment__printer-content(src="images/dest/services.webp")
