section.faq
  .bg
    .faq_r
      image(src="images/dest/icons/faq-r.svg")
    .faq_lb
      image(src="images/dest/icons/faq-lb.svg")
  .wrapper
    .faq__title.section__title
      h3 Частые вопросы
      span ?
    .faq__items
      .faq__item
        .faq__q
          h4 Можно ли посмотреть/пощупать материалы?
        .faq__a
          p Да, конечно, приезжайте.
      .faq__item
        .faq__q
          h4 На каком оборудовании печатаете?
        .faq__a
          p Спасибо за вопрос, Xerox versant 180 со встроенным спектрофотометров, контролирующий цвет печатного оттиска. В общем, зверь, а не машина!
      .faq__item
        .faq__q
          h4 Доставка по городу?
        .faq__a
          p Можем отправить Яндекс курьером.
      .faq__item
        .faq__q
          h4 Доставка по России?
        .faq__a
          p Да, можем отправить транспортной компанией по городам России.
    .services__printer
      span.services__printer-abs наш зверь
      img.services__printer-content(src="images/src/services.webp")
