section.faq
  .wrapper
    h2.faq__title Частые вопросы
    .faq__items
      .faq__item
        .faq__q
          .faq__nick Катя
          .faq__content Можно ли оплатить работы банковской картой?
        .faq__a
          .faq__nick Поддержка
          .faq__content Да, оплатить работу можно и наличными и по банковской карте.
      .faq__item
        .faq__q
          .faq__nick Катя
          .faq__content Каков гарантийный срок работы?
        .faq__a
          .faq__nick Поддержка
          .faq__content Гарантия на ремонтые работы дается сроком на 1 месяц, кроме работ по обработке от влаги. По работам связанным с обработкой от влаги дается гарантия 1 день.
      .faq__item
        .faq__q
          .faq__nick Катя
          .faq__content Вы используете оригинальные запчасти для ремонта?
        .faq__a
          .faq__nick Поддержка
          .faq__content Мы работаем только с новыми оригинальными запасными частями поставляемых от производителя.
