section.faq
  .wrapper
    h2.faq__title Частые вопросы
    .faq__items
      .faq__item
        .faq__q
          .faq__nick Катя
          .faq__content Можно ли посмотреть/пощупать материалы?
        .faq__a
          .faq__nick Поддержка
          .faq__content Да, конечно, приезжайте.
      .faq__item
        .faq__q
          .faq__nick Катя
          .faq__content На каком оборудование печатаете?
        .faq__a
          .faq__nick Поддержка
          .faq__content Спасибо за вопрос, Xerox versant 180 со встроенным спектрофотометров, контролирующий цвет печатного оттиска
      .faq__item
        .faq__q
          .faq__nick Катя
          .faq__content Доставка по городу?
        .faq__a
          .faq__nick Поддержка
          .faq__content Можем отправить Яндекс курьером.
      .faq__item
        .faq__q
          .faq__nick Катя
          .faq__content Доставка по России?
        .faq__a
          .faq__nick Поддержка
          .faq__content Да, можем отправить транспортной компанией по городам России.
