.popup
  .popup__bg
  .wrapper
    +icon('popup-close', 'popup__close-icon')
    .popup__links
      .popup__link
        a.popup__link-content(href="tel:88123300304" data-social="tel") 
        .popup__link-abs позвоните нам
      .popup__link
        a.popup__link-content(href="https://t.me/+79219580826" data-social="tg")
        .popup__link-abs telegram
      .popup__link
        a.popup__link-content(href="https://wa.me/79219580826?text=Хочу%20заказать%20цифровую%20печать" data-social="wa")
        .popup__link-abs whatsapp
    .popup__form
      p.popup__text или мы вам перезвоним
      //- form.popup__form-form(method="POST" action="sendTelegram.php")
      form.popup__form-form(method="POST" action="#")
        input.popup__input(id="phone" type="tel" name="phone" pattern="[0-9]{10}" required placeholder="10 цифр, 1234567890")
        button.popup__btn(type="submit" inert)
          +icon('popup-submit', 'popup__btn-icon')
