.runstring
  .runstring__content
    p Листовки
    p Открытки
    p Наклейки
    p грамоты
    p пластиковые карты
    p Приглашения
    p блокноты
    p конверты
    p Листовки
    p Открытки
    p Наклейки
    p грамоты
    p пластиковые карты
    p Приглашения
    p блокноты
    p конверты
    p Листовки
    p Открытки
    p Наклейки
    p грамоты
    p пластиковые карты
    p Приглашения
    p блокноты
    p конверты
