section.services
  .wrapper
    .services__title Что печатаем?
    .services__items
      .services__item
        +icon("benefits-icon", "services__item-ico")
        .services__item-title Визитки
        .services__item-descr На плотном картоне, можно скруглить углы
      .services__item
        +icon("benefits-icon", "services__item-ico")
        .services__item-title Листовки
        .services__item-descr Бумага и размер на Ваш выбор, с выбором поможем.
      .services__item
        +icon("benefits-icon", "services__item-ico")
        .services__item-title Наклейки
        .services__item-descr Бумажная и полимерная самоклейка, порежем в любой размер и форму
      .services__item
        +icon("benefits-icon", "services__item-ico")
        .services__item-title Каталоги
        .services__item-descr Из любого материла, сборка на скрепку, пружину, термоклей.
      .services__item
        +icon("benefits-icon", "services__item-ico")
        .services__item-title Календари
        .services__item-descr Трио, Моно, Перекидной
      .services__item
        +icon("benefits-icon", "services__item-ico")
        .services__item-title А что еще?
        .services__item-descr Грамоты, открытки, приглашения, конверты, блокноты, пластиковые карты, сверление, ламинация.
    img.services__printer(src="images/dest/printer.jpg")
