section.sliders
  .slider-for
    div
      img(src="images/dest/services-1.jpg")
    div
      img(src="images/dest/services-2.jpg")
    div
      img(src="images/dest/services-3.jpg")
    div
      img(src="images/dest/services-4.jpg")
    div
      img(src="images/dest/services-5.jpg")
    div
      img(src="images/dest/services-6.jpg")
    div
      img(src="images/dest/services-7.jpg")
  .slider-nav
    div
      img(src="images/dest/services-1.jpg")
    div
      img(src="images/dest/services-2.jpg")
    div
      img(src="images/dest/services-3.jpg")
    div
      img(src="images/dest/services-4.jpg")
    div
      img(src="images/dest/services-5.jpg")
    div
      img(src="images/dest/services-6.jpg")
    div
      img(src="images/dest/services-7.jpg")
