section.sliders
  .slider-for
    div
      picture
        //- source(srcset="images/dest/services-1-m.webp" media="(max-width: 360px)" type="image/webp")
        source(type="image/webp" srcset="images/dest/services-1-m.webp" media="(max-width: 400px)")
        source(type="image/webp" srcset="images/dest/services-1-l.webp" media="(max-width: 720px)")
        source(type="image/webp" srcset="images/dest/services-1-lg.webp" media="(max-width: 1110px)")
        source(type="image/webp" srcset="images/dest/services-1.webp" media="(min-width: 1110px)")
        //- source(srcset="images/dest/services-1-m.png" media="(max-width: 400px)" type="image/png")
        //- source(srcset="images/dest/services-1-l.png" media="(max-width: 720px)" type="image/png")
        //- source(srcset="images/dest/services-1-lg.png" media="(max-width: 1110px)" type="image/png")
        //- source(srcset="images/dest/services-1.png" media="(min-width: 1110px)" type="image/png")
        img(src="images/dest/services-1-l.png" alt="Визитки. Оливия")
    div
      picture
        //- source(srcset="images/dest/services-2-m.webp" media="(max-width: 360px)" type="image/webp")
        source(type="image/webp" srcset="images/dest/services-2-m.webp" media="(max-width: 400px)")
        source(type="image/webp" srcset="images/dest/services-2-l.webp" media="(max-width: 720px)")
        source(type="image/webp" srcset="images/dest/services-2-lg.webp" media="(max-width: 1110px)")
        source(type="image/webp" srcset="images/dest/services-2.webp" media="(min-width: 1110px)")
        //- source(srcset="images/dest/services-2-m.png" media="(max-width: 400px)" type="image/png")
        //- source(srcset="images/dest/services-2-l.png" media="(max-width: 720px)" type="image/png")
        //- source(srcset="images/dest/services-2-lg.png" media="(max-width: 1110px)" type="image/png")
        //- source(srcset="images/dest/services-2.png" media="(min-width: 1110px)" type="image/png")
        img(src="images/dest/services-2-l.png" alt="Наклейки. Глянец.")
    div
      picture
        //- source(srcset="images/dest/services-3-m.webp" media="(max-width: 360px)" type="image/webp")
        source(type="image/webp" srcset="images/dest/services-3-m.webp" media="(max-width: 400px)")
        source(type="image/webp" srcset="images/dest/services-3-l.webp" media="(max-width: 720px)")
        source(type="image/webp" srcset="images/dest/services-3-lg.webp" media="(max-width: 1110px)")
        source(type="image/webp" srcset="images/dest/services-3.webp" media="(min-width: 1110px)")
        //- source(srcset="images/dest/services-3-m.png" media="(max-width: 400px)" type="image/png")
        //- source(srcset="images/dest/services-3-l.png" media="(max-width: 720px)" type="image/png")
        //- source(srcset="images/dest/services-3-lg.png" media="(max-width: 1110px)" type="image/png")
        //- source(srcset="images/dest/services-3.png" media="(min-width: 1110px)" type="image/png")
        img(src="images/dest/services-3-l.png" alt="Наклейки. Урал")
    div
      picture
        //- source(srcset="images/dest/services-4-m.webp" media="(max-width: 360px)" type="image/webp")
        source(type="image/webp" srcset="images/dest/services-4-m.webp" media="(max-width: 400px)")
        source(type="image/webp" srcset="images/dest/services-4-l.webp" media="(max-width: 720px)")
        source(type="image/webp" srcset="images/dest/services-4-lg.webp" media="(max-width: 1110px)")
        source(type="image/webp" srcset="images/dest/services-4.webp" media="(min-width: 1110px)")
        //- source(srcset="images/dest/services-4-m.png" media="(max-width: 400px)" type="image/png")
        //- source(srcset="images/dest/services-4-l.png" media="(max-width: 720px)" type="image/png")
        //- source(srcset="images/dest/services-4-lg.png" media="(max-width: 1110px)" type="image/png")
        //- source(srcset="images/dest/services-4.png" media="(min-width: 1110px)" type="image/png")
        img(src="images/dest/services-4-l.png" alt="Брошура")
    div
      picture
        //- source(srcset="images/dest/services-5-m.webp" media="(max-width: 360px)" type="image/webp")
        source(type="image/webp" srcset="images/dest/services-5-m.webp" media="(max-width: 400px)")
        source(type="image/webp" srcset="images/dest/services-5-l.webp" media="(max-width: 720px)")
        source(type="image/webp" srcset="images/dest/services-5-lg.webp" media="(max-width: 1110px)")
        source(type="image/webp" srcset="images/dest/services-5.webp" media="(min-width: 1110px)")
        //- source(srcset="images/dest/services-5-m.png" media="(max-width: 400px)" type="image/png")
        //- source(srcset="images/dest/services-5-l.png" media="(max-width: 720px)" type="image/png")
        //- source(srcset="images/dest/services-5-lg.png" media="(max-width: 1110px)" type="image/png")
        //- source(srcset="images/dest/services-5.png" media="(min-width: 1110px)" type="image/png")
        img(src="images/dest/services-5-l.png" alt="Календарь трио")
    div
      picture
        //- source(srcset="images/dest/services-6-m.webp" media="(max-width: 360px)" type="image/webp")
        source(type="image/webp" srcset="images/dest/services-6-m.webp" media="(max-width: 400px)")
        source(type="image/webp" srcset="images/dest/services-6-l.webp" media="(max-width: 720px)")
        source(type="image/webp" srcset="images/dest/services-6-lg.webp" media="(max-width: 1110px)")
        source(type="image/webp" srcset="images/dest/services-6.webp" media="(min-width: 1110px)")
        //- source(srcset="images/dest/services-6-m.png" media="(max-width: 400px)" type="image/png")
        //- source(srcset="images/dest/services-6-l.png" media="(max-width: 720px)" type="image/png")
        //- source(srcset="images/dest/services-6-lg.png" media="(max-width: 1110px)" type="image/png")
        //- source(srcset="images/dest/services-6.png" media="(min-width: 1110px)" type="image/png")
        img(src="images/dest/services-6-l.png" alt="Читательский билет")
    div
      picture
        //- source(srcset="images/dest/services-7-m.webp" media="(max-width: 360px)" type="image/webp")
        source(type="image/webp" srcset="images/dest/services-7-m.webp" media="(max-width: 400px)")
        source(type="image/webp" srcset="images/dest/services-7-l.webp" media="(max-width: 720px)")
        source(type="image/webp" srcset="images/dest/services-7-lg.webp" media="(max-width: 1110px)")
        source(type="image/webp" srcset="images/dest/services-7.webp" media="(min-width: 1110px)")
        //- source(srcset="images/dest/services-7-m.png" media="(max-width: 400px)" type="image/png")
        //- source(srcset="images/dest/services-7-l.png" media="(max-width: 720px)" type="image/png")
        //- source(srcset="images/dest/services-7-lg.png" media="(max-width: 1110px)" type="image/png")
        //- source(srcset="images/dest/services-7.png" media="(min-width: 1110px)" type="image/png")
        img(src="images/dest/services-7-l.png" alt="Бирка для одежды")
  .slider-nav
    div(data-slide-nmbr='0')
      picture
        source(type="image/webp" srcset="images/dest/services-1-m.webp")
        img(src="images/dest/services-1-m.webp" alt="")
    div(data-slide-nmbr='1')
      picture
        source(type="image/webp" srcset="images/dest/services-2-m.webp")
        img(src="images/dest/services-2-m.webp" alt="")
    div(data-slide-nmbr='2')
      picture
        source(type="image/webp" srcset="images/dest/services-3-m.webp")
        img(src="images/dest/services-3-m.webp" alt="")
    div(data-slide-nmbr='3')
      picture
        source(type="image/webp" srcset="images/dest/services-4-m.webp")
        img(src="images/dest/services-4-m.webp" alt="")
    div(data-slide-nmbr='4')
      picture
        source(type="image/webp" srcset="images/dest/services-5-m.webp")
        img(src="images/dest/services-5-m.webp" alt="")
    div(data-slide-nmbr='5')
      picture
        source(type="image/webp" srcset="images/dest/services-6-m.webp")
        img(src="images/dest/services-6-m.webp" alt="")
    div(data-slide-nmbr='6')
      picture
        source(type="image/webp" srcset="images/dest/services-7-m.webp")
        img(src="images/dest/services-7-m.webp" alt="")
    //- div(data-slide-nmbr='0')
    //-   picture
    //-     source(type="image/webp" srcset="images/dest/services-1-m.webp")
    //-     img(src="images/dest/services-1-m.webp" alt="")
    //- div(data-slide-nmbr='1')
    //-   picture
    //-     source(type="image/webp" srcset="images/dest/services-2-m.webp")
    //-     img(src="images/dest/services-2-m.webp" alt="")
    //- div(data-slide-nmbr='2')
    //-   picture
    //-     source(type="image/webp" srcset="images/dest/services-3-m.webp")
    //-     img(src="images/dest/services-3-m.webp" alt="")
    //- div(data-slide-nmbr='3')
    //-   picture
    //-     source(type="image/webp" srcset="images/dest/services-4-m.webp")
    //-     img(src="images/dest/services-4-m.webp" alt="")
    //- div(data-slide-nmbr='4')
    //-   picture
    //-     source(type="image/webp" srcset="images/dest/services-5-m.webp")
    //-     img(src="images/dest/services-5-m.webp" alt="")
    //- div(data-slide-nmbr='5')
    //-   picture
    //-     source(type="image/webp" srcset="images/dest/services-6-m.webp")
    //-     img(src="images/dest/services-6-m.webp" alt="")
    //- div(data-slide-nmbr='6')
    //-   picture
    //-     source(type="image/webp" srcset="images/dest/services-7-m.webp")
    //-     img(src="images/dest/services-7-m.webp" alt="")
