.icon
	display: inline-block
	width: 1em
	height: 1em
	fill: currentColor

.icon-banner-brn-arr
	font-size: calc(28/10)*1rem
	width: calc(98/28)*1em
.icon-banner-btn-bg
	font-size: calc(101/10)*1rem
	width: calc(282/101)*1em
.icon-banner-ring
	font-size: calc(78/10)*1rem
	width: calc(50/78)*1em
.icon-banner-tl
	font-size: calc(229/10)*1rem
	width: calc(221/229)*1em
.icon-banner-tr
	font-size: calc(124/10)*1rem
	width: calc(111/124)*1em
