extends includes/layout

block content
  main.main
    include blocks/banner
    include blocks/services
    include blocks/slider
    include blocks/benefits
    include blocks/runstring
    include blocks/пequipment
    include blocks/delivery
    include blocks/contacts
    include blocks/popup
    
    script(src="js/app.min.js")
