extends includes/layout

block content
  main.main
    include blocks/banner
    include blocks/services
    include blocks/benefits
    include blocks/runstring
    include blocks/faq
    include blocks/contacts
    
    script(src="js/app.min.js")
